*.class
*.jar
*.swp
.classpath
.clj-kondo/.cache
.cpcache
.eastwood
.lsp/.cache
.nrepl-port
.project
/.cpcache
/.eastwood
/.lein-*
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.rebl
/.socket-repl-port
/checkouts
/classes
/cljs-test-runner-out
/clojure_test*
/derby.log
/dist
/example*db
/lib
/target
/target
pom.xml.asc
