{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        aero/aero {:mvn/version "1.1.6"}
        cheshire/cheshire {:mvn/version "5.10.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc5"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.674"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.zaxxer/HikariCP {:mvn/version "5.0.0"}
        io.pedestal/pedestal.jetty  {:mvn/version "0.5.9"}
        io.pedestal/pedestal.service  {:mvn/version "0.5.9"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/reitit {:mvn/version "0.5.13"}
        metosin/reitit-pedestal {:mvn/version "0.5.13"}
        metosin/reitit-swagger {:mvn/version "0.5.13"}
        metosin/reitit-swagger-ui {:mvn/version "0.5.13"}
        migratus/migratus {:mvn/version "1.3.5"}
        org.postgresql/postgresql {:mvn/version "42.2.23"}
        org.slf4j/slf4j-api {:mvn/version "1.7.32"}
        org.xerial/sqlite-jdbc {:mvn/version "3.36.0.1"}
        prismatic/schema {:mvn/version "1.1.12"}
        prismatic/schema-generators {:mvn/version "0.1.3"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {bigsy/pg-embedded-clj {:mvn/version "0.1.0"}
                       lambdaisland/kaocha {:mvn/version "1.0.861"}
                       lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                       nubank/matcher-combinators {:mvn/version "3.3.0"}
                       nubank/state-flow {:mvn/version "5.13.1"}}
         :main-opts   ["-m" "kaocha.runner"]}

  :lint {:extra-paths ["test"]
         :extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.06.18"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "--lint" "test"]}

  :lint-fix {:extra-paths ["test"]
             :extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
             :main-opts ["-m" "cljfmt.main" "fix" "src" "test" "--indents" "indentation.edn"]}

  :migratus {:main-opts ["-m" "parenthesin.migrations"]}

  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar "service.jar"
                        :aot true
                        :main-class microservice-boilerplate.server}}

  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.26.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
